$login-background: white;
$login-width: 100%;
$login-height: 100vh;
$credentials-width: 100%;
& .homepage {
  color: blue;
  font-size: 100px;
  width: 100%;
  // background-color: red;
  & .homepage_info {
    @include position(center, center, row);
    width: 100%;
    background-color: $primary;
    height: 700px;
    margin-top: 10px;
    border-radius: 8px;
    @include transparent-white();

    & .homepage_infowrapper {
      width: 95%;
      @include position(center, center, row);
      & .homepage_infoimage {
        width: 100%;
        height: 700px;
        gap: 40px;
        @include position(center, space-between, row);
        border-radius: 16px;

        & .homepage_infotext {
          width: 40%;
          height: 90%;
          border-radius: 8px;

          background-color: white;

          border-radius: 16px;
        }
      }
    }
  }

  & .homepage_login {
  }
}
