$login-background: white;
$login-width: 100%;
$login-height: 100vh;
$credentials-width: 100%;
& .homepage {
  color: blue;
  font-size: 100px;
  width: 100%;
  // background-color: red;
  & .homepage_info {
    @include position(center, center, row);
    width: 100%;
    background-color: $primary;
    height: 800px;
    margin-top: -40px;
    position: relative;
    background-blend-mode: multiply;
    & .homepage_infoimage {
      // background-image: url("/assets/images/homepageimage.png");
      width: 100%;
      height: 700px;
      @include transparent-white();
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      border-radius: 16px;
      // background-color: $primary;
      // background-color: red;
      // & img {
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }

  & .homepage_login {
  }
}
