$shadow-bottom: 0px 13px 12px -5px rgba(0, 0, 0, 0.103);
$shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
$shadow-sm: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
$primary: #2b2b2b;
$dark: black;
// $light_primary: #b292c4;
$secondary: rgb(243, 234, 234);
// $light_secondary: rgb(255, 132, 87);
$text: black;
$light-text: white;
$bg: #ffffff;

@mixin position($align: center, $justify: center, $flow: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flow;
}

@mixin flex($flow: row) {
  display: flex;
  flex-direction: $flow;
}

// @mixin text-gradient($first: $primary, $second: $secondary) {
//   background: $first;
//   background: linear-gradient(to right, $first 0%, $second 81%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// @mixin bg-gradient($first: $primary, $second: $secondary) {
//   background: rgba(2, 0, 36, 0.788);
//   background: linear-gradient(94deg, $first 12%, $second 100%);
// }
@mixin transparent-white() {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@mixin hover-animation($line-color: black) {
  position: relative;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 0;
    height: 2px;
    background-color: $line-color;
  }
  &:hover::after {
    width: 100%;
  }
}

$breakpoints: (
  "xsm": 300px,
  "sm": 700px,
  "md": 800px,
  "lg": 1000px,
  "xl": 1250px,
);

@mixin xsm {
  @media (max-width: map-get($breakpoints, "xsm")) {
    @content;
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin media($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
